openapi: 3.0.3
info:
  title: PulseWise Backend API
  version: 2.0.0
  description: |
    Kontrak API utama PulseWise.
    Semua endpoint menggunakan JSON dan response envelope standar.
    Path canonical saat ini tidak lagi memakai prefix `/api/v1`.
servers:
  - url: https://api.darrellvalentino.com
    description: Production
  - url: http://localhost:5000
    description: Local Development

tags:
  - name: Health
  - name: Auth
  - name: Patients
  - name: Doctors
  - name: DoctorPatients
  - name: DoctorDashboard
  - name: Medications
  - name: Patient Care
  - name: Profile Management
  - name: Biometrics

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    FromDate:
      name: from
      in: query
      required: true
      schema:
        type: string
        format: date
        example: '2026-04-01'
    ToDate:
      name: to
      in: query
      required: true
      schema:
        type: string
        format: date
        example: '2026-04-30'
    SortBy:
      name: sortBy
      in: query
      schema:
        type: string
        example: created_at
    Order:
      name: order
      in: query
      schema:
        type: string
        enum: [asc, desc]
        default: desc

  schemas:
    SuccessEnvelope:
      type: object
      required: [success, message, data]
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Operation success
        data:
          type: object
          nullable: true

    ErrorEnvelope:
      type: object
      required: [success, message]
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: Validation failed
        details:
          type: object
          nullable: true
          additionalProperties: true

    Pagination:
      type: object
      required: [page, limit, totalItems, totalPages]
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 20
        totalItems:
          type: integer
          example: 125
        totalPages:
          type: integer
          example: 7

    AuthUser:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        username:
          type: string
        email:
          type: string
          format: email
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        avatarPhoto:
          type: string
          format: uri
          nullable: true
        role:
          type: string
          enum: [patient, doctor, admin]
        accountStatus:
          type: string
          enum: [pending_verification, active, suspended]
        emailVerifiedAt:
          type: string
          format: date-time
          nullable: true
        onboardingCompleted:
          type: boolean
      example:
        userId: 3a233724-0b42-4a4f-88e8-88e732c46351
        username: agus
        email: agus@example.com
        firstName: Agus
        lastName: Pratama
        avatarPhoto: https://res.cloudinary.com/drvu0dpry/image/upload/v1776071700/pulsewise/avatars/profile.png
        role: patient
        accountStatus: active
        emailVerifiedAt: '2026-04-10T08:15:00.000Z'
        onboardingCompleted: true

    RegisterRequest:
      type: object
      required: [username, email, password]
      properties:
        username:
          type: string
          minLength: 3
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        firstName:
          type: string
        lastName:
          type: string
        role:
          type: string
          enum: [patient, doctor, admin]
          default: patient

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    ChangePasswordRequest:
      type: object
      required: [currentPassword, newPassword, confirmNewPassword]
      properties:
        currentPassword:
          type: string
          minLength: 1
          maxLength: 128
        newPassword:
          type: string
          minLength: 8
          maxLength: 128
        confirmNewPassword:
          type: string
          minLength: 8
          maxLength: 128
      example:
        currentPassword: old-password
        newPassword: new-password-123
        confirmNewPassword: new-password-123

    EmailVerificationRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    ForgotPasswordRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    ForgotPasswordVerifyRequest:
      type: object
      required: [email, otp]
      properties:
        email:
          type: string
          format: email
        otp:
          type: string
          example: '123456'

    ForgotPasswordResetRequest:
      type: object
      required: [resetToken, newPassword, confirmNewPassword]
      properties:
        resetToken:
          type: string
        newPassword:
          type: string
          minLength: 8
          maxLength: 128
        confirmNewPassword:
          type: string
          minLength: 8
          maxLength: 128

    EmailVerificationConfirmRequest:
      type: object
      required: [email, otp]
      properties:
        email:
          type: string
          format: email
        otp:
          type: string
          example: '123456'

    GoogleOauthRequest:
      type: object
      required: [idToken]
      properties:
        idToken:
          type: string
        role:
          type: string
          enum: [patient, doctor]
          default: patient

    GoogleOauthRegisterRequest:
      type: object
      required: [registrationToken, username]
      properties:
        registrationToken:
          type: string
        username:
          type: string
          minLength: 3
          maxLength: 100
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        role:
          type: string
          enum: [patient, doctor]
          default: patient

    GoogleProfilePreview:
      type: object
      properties:
        email:
          type: string
          format: email
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        avatarPhoto:
          type: string
          format: uri
          nullable: true

    GoogleOauthBeginData:
      type: object
      properties:
        nextStep:
          type: string
          enum: [HOME, COMPLETE_REGISTRATION, VERIFY_OTP]
        accountExists:
          type: boolean
        registrationCompleted:
          type: boolean
        otpRequired:
          type: boolean
        registrationToken:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        token:
          type: string
          nullable: true
        user:
          $ref: '#/components/schemas/AuthUser'
        googleProfile:
          $ref: '#/components/schemas/GoogleProfilePreview'

    PatientProfile:
      type: object
      properties:
        patient_id:
          type: string
          format: uuid
        date_of_birth:
          type: string
          format: date
          nullable: true
        sex:
          type: string
          nullable: true
        body_height_cm:
          type: number
          nullable: true
          example: 172.5
        is_smoking:
          type: boolean
          nullable: true
          example: false
        is_electric_smoking:
          type: boolean
          nullable: true
          example: false
        blood_type:
          type: string
          nullable: true
          enum: [A, A+, A-, B, B+, B-, AB, AB+, AB-, O, O+, O-]
        address:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        avatar_photo:
          type: string
          format: uri
          nullable: true
      example:
        patient_id: 3a233724-0b42-4a4f-88e8-88e732c46351
        date_of_birth: '1994-08-17'
        sex: male
        body_height_cm: 172.5
        is_smoking: false
        is_electric_smoking: false
        blood_type: O+
        address: Jalan Sukamaju No. 88, Surabaya
        created_at: '2026-04-10T08:15:00.000Z'
        first_name: Agus
        last_name: Pratama
        email: agus@example.com
        avatar_photo: https://res.cloudinary.com/drvu0dpry/image/upload/v1776071700/pulsewise/avatars/profile.png

    DoctorProfile:
      type: object
      properties:
        doctor_id:
          type: string
          format: uuid
        specialization:
          type: string
          nullable: true
        license_no:
          type: string
          nullable: true
        hospital_name:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        avatar_photo:
          type: string
          format: uri
          nullable: true
      example:
        doctor_id: 8aca6089-3899-4b85-a715-0a63113e846a
        specialization: Cardiology
        license_no: DOC-123456
        hospital_name: RS PulseWise
        created_at: '2026-04-10T08:15:00.000Z'
        first_name: Intan
        last_name: Wijaya
        email: intan.wijaya@example.com
        avatar_photo: https://res.cloudinary.com/drvu0dpry/image/upload/v1776071700/pulsewise/avatars/profile.png

    PatientProfileUpdateRequest:
      type: object
      minProperties: 1
      description: >
        Dipakai sebagai proses kedua setelah register/login berhasil pada flow onboarding patient.
        Gunakan field English yang canonical agar kontrak FE dan BE tetap sederhana.
      properties:
        dateOfBirth:
          type: string
          format: date
          nullable: true
        heightCm:
          type: number
          minimum: 30
          maximum: 300
          nullable: true
        isSmoking:
          type: boolean
          nullable: true
        isElectricSmoking:
          type: boolean
          nullable: true
        bloodType:
          type: string
          nullable: true
          enum: [A, A+, A-, B, B+, B-, AB, AB+, AB-, O, O+, O-]
        sex:
          type: string
          nullable: true
          example: male
        address:
          type: string
          nullable: true
          example: Jalan Sukamaju No. 88, Surabaya

    Medication:
      type: object
      properties:
        medicationId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        conditionTag:
          type: string
          nullable: true
        form:
          type: string
          nullable: true
        color:
          type: string
          nullable: true
        singleDose:
          type: number
          nullable: true
        singleDoseUnit:
          type: string
          nullable: true
        startDate:
          type: string
          format: date
          nullable: true
        frequency:
          type: string
          enum: [daily, weekly]
        numOfDays:
          type: integer
          nullable: true
        daysOfWeek:
          type: array
          items:
            type: integer
            minimum: 1
            maximum: 7
        intakeTimes:
          type: array
          items:
            type: string
            pattern: '^([01]\\d|2[0-3]):([0-5]\\d)$'
        note:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        reminders:
          type: array
          items:
            $ref: '#/components/schemas/Reminder'
      example:
        medicationId: 1e0d4a7c-6fdf-4973-a2bd-7577514a966f
        userId: 3a233724-0b42-4a4f-88e8-88e732c46351
        name: Aspirin
        description: Obat harian untuk terapi jantung
        conditionTag: heart
        form: tablet
        color: '#22C55E'
        singleDose: 1
        singleDoseUnit: tablet
        startDate: '2026-04-10'
        frequency: daily
        numOfDays: 7
        daysOfWeek: []
        intakeTimes:
          - '08:00'
          - '20:00'
        note: Minum setelah makan
        createdAt: '2026-04-10T08:15:00.000Z'
        reminders:
          - reminderId: 9f7c5d8b-1234-4dcd-99c1-1234567890ab
            userId: 3a233724-0b42-4a4f-88e8-88e732c46351
            medicationId: 1e0d4a7c-6fdf-4973-a2bd-7577514a966f
            scheduleTime: '08:00'
            dayOfWeek: null
            createdAt: '2026-04-10T08:15:00.000Z'

    MedicationCalendarEvent:
      type: object
      properties:
        eventId:
          type: string
          example: rem-123:2026-04-11
        scheduledDate:
          type: string
          format: date
        scheduledTime:
          type: string
          example: '08:00'
        reminderId:
          type: string
          format: uuid
        medicationId:
          type: string
          format: uuid
        medicationLogId:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        color:
          type: string
          nullable: true
        singleDose:
          type: number
          nullable: true
        singleDoseUnit:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
          enum: [taken, skipped, missed]
      example:
        eventId: 9f7c5d8b-1234-4dcd-99c1-1234567890ab:2026-04-11
        scheduledDate: '2026-04-11'
        scheduledTime: '08:00'
        reminderId: 9f7c5d8b-1234-4dcd-99c1-1234567890ab
        medicationId: 1e0d4a7c-6fdf-4973-a2bd-7577514a966f
        medicationLogId: 3f26d26f-f29a-42a7-b4d1-59880b1d6f02
        name: Aspirin
        color: '#22C55E'
        singleDose: 1
        singleDoseUnit: tablet
        status: taken

    MedicationCalendarData:
      type: object
      properties:
        range:
          type: object
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        totalItems:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/MedicationCalendarEvent'
      example:
        range:
          from: '2026-04-10'
          to: '2026-04-13'
        totalItems: 4
        items:
          - eventId: 9f7c5d8b-1234-4dcd-99c1-1234567890ab:2026-04-10
            scheduledDate: '2026-04-10'
            scheduledTime: '08:00'
            reminderId: 9f7c5d8b-1234-4dcd-99c1-1234567890ab
            medicationId: 1e0d4a7c-6fdf-4973-a2bd-7577514a966f
            medicationLogId: null
            name: Aspirin
            color: '#22C55E'
            singleDose: 1
            singleDoseUnit: tablet
            status: null
          - eventId: 9f7c5d8b-1234-4dcd-99c1-1234567890ab:2026-04-11
            scheduledDate: '2026-04-11'
            scheduledTime: '08:00'
            reminderId: 9f7c5d8b-1234-4dcd-99c1-1234567890ab
            medicationId: 1e0d4a7c-6fdf-4973-a2bd-7577514a966f
            medicationLogId: 3f26d26f-f29a-42a7-b4d1-59880b1d6f02
            name: Aspirin
            color: '#22C55E'
            singleDose: 1
            singleDoseUnit: tablet
            status: taken
          - eventId: 9f7c5d8b-1234-4dcd-99c1-1234567890ab:2026-04-12
            scheduledDate: '2026-04-12'
            scheduledTime: '08:00'
            reminderId: 9f7c5d8b-1234-4dcd-99c1-1234567890ab
            medicationId: 1e0d4a7c-6fdf-4973-a2bd-7577514a966f
            medicationLogId: null
            name: Aspirin
            color: '#22C55E'
            singleDose: 1
            singleDoseUnit: tablet
            status: null
          - eventId: 2f7c5d8b-1234-4dcd-99c1-1234567890ac:2026-04-13
            scheduledDate: '2026-04-13'
            scheduledTime: '09:30'
            reminderId: 2f7c5d8b-1234-4dcd-99c1-1234567890ac
            medicationId: 2e0d4a7c-6fdf-4973-a2bd-7577514a966f
            medicationLogId: null
            name: Vitamin C
            color: orange
            singleDose: 2
            singleDoseUnit: capsule
            status: null

    Reminder:
      type: object
      properties:
        reminderId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        medicationId:
          type: string
          format: uuid
        scheduleTime:
          type: string
          example: '08:00'
        dayOfWeek:
          type: integer
          nullable: true
          minimum: 1
          maximum: 7
        createdAt:
          type: string
          format: date-time
      example:
        reminderId: 9f7c5d8b-1234-4dcd-99c1-1234567890ab
        userId: 3a233724-0b42-4a4f-88e8-88e732c46351
        medicationId: 1e0d4a7c-6fdf-4973-a2bd-7577514a966f
        scheduleTime: '08:00'
        dayOfWeek: null
        createdAt: '2026-04-10T08:15:00.000Z'

    ReminderInput:
      type: object
      required: [scheduleTime]
      properties:
        scheduleTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):([0-5]\\d)$'
          example: '08:00'
        dayOfWeek:
          type: integer
          nullable: true
          minimum: 1
          maximum: 7

    MedicationLog:
      type: object
      properties:
        medicationLogId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        medicationId:
          type: string
          format: uuid
        status:
          type: string
          enum: [taken, skipped, missed]
          default: taken
        medicationDate:
          type: string
          format: date
        medicationTime:
          type: string
          nullable: true
          example: '08:15'
        createdAt:
          type: string
          format: date-time
      example:
        medicationLogId: 3f26d26f-f29a-42a7-b4d1-59880b1d6f02
        userId: 3a233724-0b42-4a4f-88e8-88e732c46351
        medicationId: 1e0d4a7c-6fdf-4973-a2bd-7577514a966f
        status: taken
        medicationDate: '2026-04-10'
        medicationTime: '08:15'
        createdAt: '2026-04-10T08:15:00.000Z'

    MedicationLogCreateRequest:
      type: object
      required: [medicationDate]
      properties:
        medicationDate:
          type: string
          format: date
          example: '2026-04-10'
        medicationTime:
          type: string
          nullable: true
          pattern: '^([01]\\d|2[0-3]):([0-5]\\d)$'
          example: '08:15'
        status:
          type: string
          enum: [taken, skipped, missed]
          default: taken
          example: taken

    EmergencyContact:
      type: object
      properties:
        emergencyContactId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        contactLabel:
          type: string
        contactNumber:
          type: string
        isPriority:
          type: boolean
        createdAt:
          type: string
          format: date-time
      example:
        emergencyContactId: 1a3b5c7d-9e0f-4a11-8b22-334455667788
        userId: 3a233724-0b42-4a4f-88e8-88e732c46351
        contactLabel: Ibu
        contactNumber: '+628123456789'
        isPriority: true
        createdAt: '2026-04-10T08:15:00.000Z'

    EmergencyContactCreateRequest:
      type: object
      required: [contactLabel, contactNumber]
      properties:
        contactLabel:
          type: string
          minLength: 1
          maxLength: 100
        contactNumber:
          type: string
          minLength: 3
          maxLength: 50
        isPriority:
          type: boolean
          default: false

    EmergencyContactUpdateRequest:
      type: object
      minProperties: 1
      properties:
        contactLabel:
          type: string
          nullable: true
          maxLength: 100
        contactNumber:
          type: string
          nullable: true
          maxLength: 50
        isPriority:
          type: boolean

    HeartDiary:
      type: object
      properties:
        diaryId:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        diaryDate:
          type: string
          format: date
        createdAt:
          type: string
          format: date-time
      example:
        diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
        userId: 3a233724-0b42-4a4f-88e8-88e732c46351
        diaryDate: '2026-04-10'
        createdAt: '2026-04-10T08:15:00.000Z'

    DailyBodyMetric:
      type: object
      properties:
        metricId:
          type: string
          format: uuid
        diaryId:
          type: string
          format: uuid
        conditionTag:
          type: string
          nullable: true
        bodyHeight:
          type: number
          nullable: true
        bodyWeight:
          type: number
          nullable: true
        bmi:
          type: number
          nullable: true
        systolicPressure:
          type: integer
          nullable: true
        diastolicPressure:
          type: integer
          nullable: true
        heartRate:
          type: integer
          nullable: true
        latestHeartRate:
          type: integer
          nullable: true
        latestHeartRateMeasuredAt:
          type: string
          format: date-time
          nullable: true
        latestOxygenSaturation:
          type: integer
          nullable: true
        latestOxygenSaturationMeasuredAt:
          type: string
          format: date-time
          nullable: true
        timeStamp:
          type: string
          format: date-time
          nullable: true
      example:
        metricId: 7b5d8f10-1111-4222-8333-1234567890ab
        diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
        conditionTag: after_breakfast
        bodyHeight: 172.5
        bodyWeight: 68.2
        bmi: 22.9
        systolicPressure: 122
        diastolicPressure: 78
        heartRate: 74
        latestHeartRate: 81
        latestHeartRateMeasuredAt: '2026-05-04T08:30:00.000Z'
        latestOxygenSaturation: 98
        latestOxygenSaturationMeasuredAt: '2026-05-04T08:31:00.000Z'
        timeStamp: '2026-04-10T07:30:00.000Z'

    DailySymptom:
      type: object
      properties:
        symptomId:
          type: string
          format: uuid
        diaryId:
          type: string
          format: uuid
        symptomName:
          type: string
        symptomCode:
          type: string
          nullable: true
          enum:
            [
              chest_pain,
              shortness_of_breath,
              palpitations,
              dizziness,
              headache,
              fatigue,
              cough,
              swelling,
              nausea,
              other,
            ]
        bodyArea:
          type: string
          nullable: true
          enum: [head, chest, neck, left_arm, right_arm, upper_abdomen, back, leg, general, other]
        isChestPain:
          type: boolean
          nullable: true
        painFrequencyCode:
          type: integer
          nullable: true
          enum: [0, 1, 2]
          description: 0 = unknown, 1 = less than 30 minutes, 2 = 30 minutes or more
        painLocationCode:
          type: integer
          nullable: true
          enum: [0, 1, 2, 3, 4, 5, 6, 7, 8]
          description: 0 = unknown, 1 = right arm, 2 = right chest, 3 = neck, 4 = upper sternum, 5 = lower sternum, 6 = left chest, 7 = left arm, 8 = upper abdomen
        intensity:
          type: integer
          nullable: true
        note:
          type: string
          nullable: true
        time:
          type: string
          nullable: true
          example: '07:30'
        timeStamp:
          type: string
          format: date-time
          nullable: true
      example:
        symptomId: 7b5d8f10-1111-4222-8333-1234567890ac
        diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
        symptomName: Nyeri dada
        symptomCode: chest_pain
        bodyArea: chest
        isChestPain: true
        painFrequencyCode: 2
        painLocationCode: 1
        intensity: 2
        note: Muncul sebelum sarapan
        time: '07:30'
        timeStamp: '2026-04-10T07:30:00.000Z'

    DailyActivity:
      type: object
      properties:
        activityId:
          type: string
          format: uuid
        diaryId:
          type: string
          format: uuid
        name:
          type: string
        activityCategory:
          type: string
          enum: [work, transport, recreation, other]
          nullable: true
        intensityLevel:
          type: string
          enum: [light, moderate, vigorous, unknown]
          nullable: true
        transportMode:
          type: string
          enum: [walk, bicycle, other]
          nullable: true
        duration:
          type: integer
          nullable: true
        heartRate:
          type: integer
          nullable: true
        userFeeling:
          type: string
          nullable: true
        outdoorMinutes:
          type: integer
          nullable: true
        note:
          type: string
          nullable: true
        timeStamp:
          type: string
          format: date-time
          nullable: true
      example:
        activityId: 7b5d8f10-1111-4222-8333-1234567890ad
        diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
        name: Jalan pagi
        activityCategory: transport
        intensityLevel: moderate
        transportMode: walk
        duration: 30
        heartRate: 98
        userFeeling: baik
        outdoorMinutes: 20
        note: Ritme santai
        timeStamp: '2026-04-10T06:30:00.000Z'

    DailyConsumption:
      type: object
      properties:
        consumptionId:
          type: string
          format: uuid
        diaryId:
          type: string
          format: uuid
        type:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        portion:
          type: string
          nullable: true
        portionGrams:
          type: number
          nullable: true
        fdcFoodId:
          type: string
          nullable: true
        nutritionSource:
          type: string
          nullable: true
        energyKcal:
          type: number
          nullable: true
        proteinG:
          type: number
          nullable: true
        carbohydrateG:
          type: number
          nullable: true
        sugarG:
          type: number
          nullable: true
        fiberG:
          type: number
          nullable: true
        totalFatG:
          type: number
          nullable: true
        saturatedFatG:
          type: number
          nullable: true
        monounsaturatedFatG:
          type: number
          nullable: true
        polyunsaturatedFatG:
          type: number
          nullable: true
        cholesterolMg:
          type: number
          nullable: true
        calciumMg:
          type: number
          nullable: true
        note:
          type: string
          nullable: true
        time:
          type: string
          nullable: true
          example: '21:15'
        timeStamp:
          type: string
          format: date-time
          nullable: true
      example:
        consumptionId: 7b5d8f10-1111-4222-8333-1234567890ae
        diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
        type: minuman
        name: Kopi hitam
        portion: 1 cangkir
        portionGrams: 250
        fdcFoodId: '1102647'
        nutritionSource: fdc_snapshot
        energyKcal: 180
        proteinG: 12
        carbohydrateG: 20
        sugarG: 8
        fiberG: 2
        totalFatG: 5
        saturatedFatG: 2
        monounsaturatedFatG: 1.5
        polyunsaturatedFatG: 0.8
        cholesterolMg: 20
        calciumMg: 150
        note: Tanpa gula
        time: '21:15'
        timeStamp: '2026-04-10T21:15:00.000Z'

    HeartDiaryCreateRequest:
      type: object
      required: [diaryDate]
      properties:
        diaryDate:
          type: string
          format: date
          example: '2026-04-10'

    DailyBodyMetricCreateByDateRequest:
      allOf:
        - $ref: '#/components/schemas/DailyBodyMetricCreateRequest'
        - type: object
          required: [diaryDate]
          description: >
            Upsert body metric harian. Jika diary pada tanggal tersebut sudah punya body metric,
            field yang dikirim akan memperbarui record terakhir dan field yang tidak dikirim akan
            dipertahankan.
          properties:
            diaryDate:
              type: string
              format: date
              example: '2026-04-10'

    DailyBodyMetricCreateRequest:
      type: object
      minProperties: 1
      properties:
        conditionTag:
          type: string
          nullable: true
          maxLength: 64
        bodyHeight:
          type: number
          minimum: 30
          maximum: 300
          nullable: true
        bodyWeight:
          type: number
          minimum: 1
          maximum: 500
          nullable: true
        bmi:
          type: number
          minimum: 1
          maximum: 100
          nullable: true
        systolicPressure:
          type: integer
          minimum: 50
          maximum: 300
          nullable: true
        diastolicPressure:
          type: integer
          minimum: 30
          maximum: 250
          nullable: true
        heartRate:
          type: integer
          minimum: 20
          maximum: 250
          nullable: true
        timeStamp:
          type: string
          format: date-time

    DailySymptomCreateRequest:
      type: object
      required: [symptomName]
      description: >
        Gunakan enum resmi untuk symptomCode dan bodyArea. Jika symptomCode adalah chest_pain
        atau isChestPain bernilai true, maka bodyArea wajib chest, isChestPain wajib true,
        painFrequencyCode wajib diisi, dan painLocationCode wajib diisi.
      properties:
        symptomName:
          type: string
          minLength: 1
          maxLength: 120
        symptomCode:
          type: string
          nullable: true
          enum:
            [
              chest_pain,
              shortness_of_breath,
              palpitations,
              dizziness,
              headache,
              fatigue,
              cough,
              swelling,
              nausea,
              other,
            ]
        bodyArea:
          type: string
          nullable: true
          enum: [head, chest, neck, left_arm, right_arm, upper_abdomen, back, leg, general, other]
        isChestPain:
          type: boolean
          nullable: true
        painFrequencyCode:
          type: integer
          nullable: true
          enum: [0, 1, 2]
          description: 0 = unknown, 1 = less than 30 minutes, 2 = 30 minutes or more
        painLocationCode:
          type: integer
          nullable: true
          enum: [0, 1, 2, 3, 4, 5, 6, 7, 8]
          description: 0 = unknown, 1 = right arm, 2 = right chest, 3 = neck, 4 = upper sternum, 5 = lower sternum, 6 = left chest, 7 = left arm, 8 = upper abdomen
        intensity:
          type: integer
          minimum: 1
          maximum: 10
          nullable: true
        note:
          type: string
          nullable: true
          maxLength: 2000
        timeStamp:
          type: string
          format: date-time

    DailySymptomCreateByDateRequest:
      allOf:
        - $ref: '#/components/schemas/DailySymptomCreateRequest'
        - type: object
          required: [diaryDate]
          properties:
            diaryDate:
              type: string
              format: date
              example: '2026-04-10'
            time:
              type: string
              pattern: ^([01]\d|2[0-3]):([0-5]\d)$
              example: '07:30'

    DailyActivityCreateRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        activityCategory:
          type: string
          enum: [work, transport, recreation, other]
        intensityLevel:
          type: string
          enum: [light, moderate, vigorous, unknown]
        transportMode:
          type: string
          enum: [walk, bicycle, other]
        duration:
          type: integer
          minimum: 1
          maximum: 1440
          nullable: true
        heartRate:
          type: integer
          minimum: 20
          maximum: 250
          nullable: true
        userFeeling:
          type: string
          nullable: true
          maxLength: 80
        outdoorMinutes:
          type: integer
          minimum: 0
          maximum: 1440
          nullable: true
        note:
          type: string
          nullable: true
          maxLength: 2000
        timeStamp:
          type: string
          format: date-time

    DailyActivityCreateByDateRequest:
      allOf:
        - $ref: '#/components/schemas/DailyActivityCreateRequest'
        - type: object
          required: [diaryDate]
          properties:
            diaryDate:
              type: string
              format: date
              example: '2026-04-10'

    DailyConsumptionCreateRequest:
      type: object
      properties:
        type:
          type: string
          nullable: true
          maxLength: 50
        name:
          type: string
          nullable: true
          maxLength: 120
        portion:
          type: string
          nullable: true
          maxLength: 80
        portionGrams:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        fdcFoodId:
          type: string
          nullable: true
          maxLength: 64
        nutritionSource:
          type: string
          nullable: true
          maxLength: 32
        energyKcal:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        proteinG:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        carbohydrateG:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        sugarG:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        fiberG:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        totalFatG:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        saturatedFatG:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        monounsaturatedFatG:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        polyunsaturatedFatG:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        cholesterolMg:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        calciumMg:
          type: number
          minimum: 0
          maximum: 100000
          nullable: true
        note:
          type: string
          nullable: true
          maxLength: 2000
        timeStamp:
          type: string
          format: date-time

    DailyConsumptionCreateByDateRequest:
      allOf:
        - $ref: '#/components/schemas/DailyConsumptionCreateRequest'
        - type: object
          required: [diaryDate]
          properties:
            diaryDate:
              type: string
              format: date
              example: '2026-04-10'
            time:
              type: string
              pattern: ^([01]\d|2[0-3]):([0-5]\d)$
              example: '21:15'

    HeartDiaryDetail:
      allOf:
        - $ref: '#/components/schemas/HeartDiary'
        - type: object
          properties:
            bodyMetrics:
              type: array
              items:
                $ref: '#/components/schemas/DailyBodyMetric'
            symptoms:
              type: array
              items:
                $ref: '#/components/schemas/DailySymptom'
            activities:
              type: array
              items:
                $ref: '#/components/schemas/DailyActivity'
            consumptions:
              type: array
              items:
                $ref: '#/components/schemas/DailyConsumption'
            sleepRecord:
              $ref: '#/components/schemas/DailySleepRecord'
      example:
        diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
        userId: 3a233724-0b42-4a4f-88e8-88e732c46351
        diaryDate: '2026-04-10'
        createdAt: '2026-04-10T08:15:00.000Z'
        bodyMetrics:
          - metricId: 7b5d8f10-1111-4222-8333-1234567890ab
            diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
            conditionTag: after_breakfast
            bodyHeight: 172.5
            bodyWeight: 68.2
            bmi: 22.9
            systolicPressure: 122
            diastolicPressure: 78
            heartRate: 74
            latestHeartRate: 81
            latestHeartRateMeasuredAt: '2026-05-04T08:30:00.000Z'
            latestOxygenSaturation: 98
            latestOxygenSaturationMeasuredAt: '2026-05-04T08:31:00.000Z'
            timeStamp: '2026-04-10T07:30:00.000Z'
        symptoms:
          - symptomId: 7b5d8f10-1111-4222-8333-1234567890ac
            diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
            symptomName: Pusing ringan
            intensity: 2
            note: Muncul sebelum sarapan
            time: '07:30'
            timeStamp: '2026-04-10T07:30:00.000Z'
        activities:
          - activityId: 7b5d8f10-1111-4222-8333-1234567890ad
            diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
            name: Jalan pagi
            duration: 30
            heartRate: 98
            userFeeling: baik
            note: Ritme santai
            timeStamp: '2026-04-10T06:30:00.000Z'
        consumptions:
          - consumptionId: 7b5d8f10-1111-4222-8333-1234567890ae
            diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
            type: minuman
            name: Kopi hitam
            portion: 1 cangkir
            note: Tanpa gula
            time: '21:15'
            timeStamp: '2026-04-10T21:15:00.000Z'
        sleepRecord:
          sleepRecordId: 7b5d8f10-1111-4222-8333-1234567890af
          diaryId: 5e5f09ab-5543-435d-b0fb-9a8ef041d8b0
          sleepTime: '22:30'
          wakeTime: '06:30'
          sleepDurationHours: 8
          source: postman_manual
          createdAt: '2026-04-10T22:30:00.000Z'
          updatedAt: '2026-04-10T22:30:00.000Z'

    DailySleepRecord:
      type: object
      properties:
        sleepRecordId:
          type: string
          format: uuid
        diaryId:
          type: string
          format: uuid
        sleepTime:
          type: string
          nullable: true
          example: '22:30'
        wakeTime:
          type: string
          nullable: true
          example: '06:30'
        sleepDurationHours:
          type: number
          nullable: true
        source:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    DailySleepRecordUpsertRequest:
      type: object
      required: [diaryDate]
      properties:
        diaryDate:
          type: string
          format: date
        sleepTime:
          type: string
          pattern: ^([01]\d|2[0-3]):([0-5]\d)$
        wakeTime:
          type: string
          pattern: ^([01]\d|2[0-3]):([0-5]\d)$
        sleepDurationHours:
          type: number
          minimum: 0
          maximum: 24
          nullable: true
        source:
          type: string
          nullable: true
          maxLength: 64

    PatientMlProfile:
      type: object
      properties:
        patientId:
          type: string
          format: uuid
        demog1_riagendr:
          type: integer
          nullable: true
        demog1_ridreth3:
          type: integer
          nullable: true
        demog1_dmdeduc:
          type: integer
          nullable: true
        demog1_dmdfmsiz:
          type: integer
          nullable: true
        demog1_dmdhhsiz:
          type: integer
          nullable: true
        demog1_dmdhhsza:
          type: integer
          nullable: true
        demog1_dmdhhszb:
          type: integer
          nullable: true
        demog1_dmdhhsze:
          type: integer
          nullable: true
        demog1_dmdmartl:
          type: integer
          nullable: true
        quest22_smq020:
          type: integer
          nullable: true
        quest22_smq890:
          type: integer
          nullable: true
        quest22_smq900:
          type: integer
          nullable: true
        quest23_smd470:
          type: integer
          nullable: true
        quest1_alq111:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PatientMlProfileUpdateRequest:
      type: object
      minProperties: 1
      properties:
        demog1_riagendr:
          type: integer
          nullable: true
        demog1_ridreth3:
          type: integer
          nullable: true
        demog1_dmdeduc:
          type: integer
          nullable: true
        demog1_dmdfmsiz:
          type: integer
          nullable: true
        demog1_dmdhhsiz:
          type: integer
          nullable: true
        demog1_dmdhhsza:
          type: integer
          nullable: true
        demog1_dmdhhszb:
          type: integer
          nullable: true
        demog1_dmdhhsze:
          type: integer
          nullable: true
        demog1_dmdmartl:
          type: integer
          nullable: true
        quest22_smq020:
          type: integer
          nullable: true
        quest22_smq890:
          type: integer
          nullable: true
        quest22_smq900:
          type: integer
          nullable: true
        quest23_smd470:
          type: integer
          nullable: true
        quest1_alq111:
          type: integer
          nullable: true

    PatientMlAssessment:
      type: object
      properties:
        assessmentId:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        assessmentDate:
          type: string
          format: date
        exami1_bpxpls:
          type: integer
          nullable: true
        labor1_lbdtcsi:
          type: number
          nullable: true
        labor2_urdflow1:
          type: number
          nullable: true
        labor2_urdtime1:
          type: number
          nullable: true
        labor2_urxvol1:
          type: number
          nullable: true
        quest11_hiq011:
          type: integer
          nullable: true
        quest12_heq010:
          type: integer
          nullable: true
        quest12_heq030:
          type: integer
          nullable: true
        quest15_kiq022:
          type: integer
          nullable: true
        quest15_kiq026:
          type: integer
          nullable: true
        quest16_mcq010:
          type: integer
          nullable: true
        quest16_mcq160b:
          type: integer
          nullable: true
        quest16_mcq220:
          type: integer
          nullable: true
        quest16_mcq300a:
          type: integer
          nullable: true
        quest16_mcq300c:
          type: integer
          nullable: true
        quest17_dpq020:
          type: integer
          nullable: true
        quest17_dpq030:
          type: integer
          nullable: true
        quest17_dpq040:
          type: integer
          nullable: true
        quest20_pfq061b:
          type: integer
          nullable: true
        quest20_pfq061c:
          type: integer
          nullable: true
        quest20_pfq061h:
          type: integer
          nullable: true
        quest3_cdq009:
          type: integer
          nullable: true
        quest3_cdq010:
          type: integer
          nullable: true
        quest7_diq010:
          type: integer
          nullable: true
        quest9_dlq050:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PatientMlAssessmentUpsertRequest:
      type: object
      properties:
        assessmentDate:
          type: string
          format: date
        exami1_bpxpls:
          type: integer
          nullable: true
        labor1_lbdtcsi:
          type: number
          nullable: true
        labor2_urdflow1:
          type: number
          nullable: true
        labor2_urdtime1:
          type: number
          nullable: true
        labor2_urxvol1:
          type: number
          nullable: true
        quest11_hiq011:
          type: integer
          nullable: true
        quest12_heq010:
          type: integer
          nullable: true
        quest12_heq030:
          type: integer
          nullable: true
        quest15_kiq022:
          type: integer
          nullable: true
        quest15_kiq026:
          type: integer
          nullable: true
        quest16_mcq010:
          type: integer
          nullable: true
        quest16_mcq160b:
          type: integer
          nullable: true
        quest16_mcq220:
          type: integer
          nullable: true
        quest16_mcq300a:
          type: integer
          nullable: true
        quest16_mcq300c:
          type: integer
          nullable: true
        quest17_dpq020:
          type: integer
          nullable: true
        quest17_dpq030:
          type: integer
          nullable: true
        quest17_dpq040:
          type: integer
          nullable: true
        quest20_pfq061b:
          type: integer
          nullable: true
        quest20_pfq061c:
          type: integer
          nullable: true
        quest20_pfq061h:
          type: integer
          nullable: true
        quest3_cdq009:
          type: integer
          nullable: true
        quest3_cdq010:
          type: integer
          nullable: true
        quest7_diq010:
          type: integer
          nullable: true
        quest9_dlq050:
          type: integer
          nullable: true

    MlReadinessData:
      type: object
      properties:
        ready:
          type: boolean
        missingFields:
          type: array
          items:
            type: string
        resolvedFields:
          type: array
          items:
            type: string
        window:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
        sourceSummary:
          type: object
          additionalProperties: true

    MlPayloadData:
      type: object
      properties:
        mlVersion:
          type: string
        window:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
        payload:
          type: object
          additionalProperties:
            oneOf:
              - type: number
              - type: string
              - type: integer
        sourceSummary:
          type: object
          additionalProperties: true

    MlUpstreamData:
      type: object
      properties:
        resultId:
          type: string
          format: uuid
        generatedAt:
          type: string
          format: date-time
        mlVersion:
          type: string
        window:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
        payloadHash:
          type: string
        sourceSummary:
          type: object
          additionalProperties: true
        upstream:
          type: object
          additionalProperties: true
        payload:
          type: object
          additionalProperties: true

    MlInferenceResult:
      type: object
      properties:
        resultId:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        requestedByUserId:
          type: string
          format: uuid
          nullable: true
        inferenceType:
          type: string
          enum: [prediction, recommendation]
        requestContext:
          type: string
          nullable: true
        mlVersion:
          type: string
        payloadHash:
          type: string
        payload:
          type: object
          nullable: true
          additionalProperties: true
        sourceSummary:
          type: object
          nullable: true
          additionalProperties: true
        window:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
        upstream:
          type: object
          properties:
            endpoint:
              type: string
              nullable: true
            status:
              type: integer
              nullable: true
            body:
              type: object
              nullable: true
              additionalProperties: true
        generatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    MlInferenceHistoryItem:
      type: object
      properties:
        resultId:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        requestedByUserId:
          type: string
          format: uuid
          nullable: true
        inferenceType:
          type: string
          enum: [prediction, recommendation]
        requestContext:
          type: string
          nullable: true
        mlVersion:
          type: string
        window:
          type: object
          properties:
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
        generatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    MlInferenceHistoryData:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MlInferenceHistoryItem'
        pagination:
          $ref: '#/components/schemas/Pagination'

    AvatarUploadSignatureResponse:
      type: object
      properties:
        cloudName:
          type: string
        apiKey:
          type: string
        timestamp:
          type: integer
        folder:
          type: string
        signature:
          type: string
        transformation:
          type: string
        allowed_formats:
          type: string
        uploadUrl:
          type: string
          format: uri
      example:
        cloudName: drvu0dpry
        apiKey: '385651324518538'
        timestamp: 1776071700
        folder: pulsewise/avatar
        signature: 7c7b09f61a4e9773aa79f07b70c1ed37d1d85732
        transformation: c_limit,h_512,w_512,q_auto:good
        allowed_formats: jpg,jpeg,png,webp
        uploadUrl: https://api.cloudinary.com/v1_1/drvu0dpry/image/upload

    AvatarSaveRequest:
      type: object
      required: [secureUrl]
      properties:
        secureUrl:
          type: string
          format: uri
          maxLength: 2000
        publicId:
          type: string
          nullable: true
          maxLength: 300
        bytes:
          type: integer
          minimum: 1
        width:
          type: integer
          minimum: 1
        height:
          type: integer
          minimum: 1
        format:
          type: string
        resourceType:
          type: string
          enum: [image]

    AvatarSaveResponse:
      type: object
      properties:
        userId:
          type: string
          format: uuid
        avatarPhoto:
          type: string
          format: uri
        cloudinaryPublicId:
          type: string
          nullable: true
        updatedAt:
          type: string
          format: date-time
      example:
        userId: 3a233724-0b42-4a4f-88e8-88e732c46351
        avatarPhoto: https://res.cloudinary.com/drvu0dpry/image/upload/v1776071700/pulsewise/avatar/profile.png
        cloudinaryPublicId: pulsewise/avatar/profile
        updatedAt: '2026-04-10T08:15:00.000Z'

    MedicationCreateRequest:
      type: object
      required: [name, startDate, frequency, intakeTimes]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          nullable: true
        conditionTag:
          type: string
          nullable: true
        form:
          type: string
          nullable: true
          maxLength: 50
        color:
          type: string
          nullable: true
          maxLength: 50
        singleDose:
          type: number
          nullable: true
        singleDoseUnit:
          type: string
          nullable: true
          maxLength: 32
        startDate:
          type: string
          format: date
        frequency:
          type: string
          enum: [daily, weekly]
        numOfDays:
          type: integer
          nullable: true
          minimum: 1
          maximum: 10
        daysOfWeek:
          type: array
          items:
            type: integer
            minimum: 1
            maximum: 7
        intakeTimes:
          type: array
          minItems: 1
          maxItems: 24
          items:
            type: string
            pattern: '^([01]\\d|2[0-3]):([0-5]\\d)$'
        note:
          type: string
          nullable: true

    MedicationUpdateRequest:
      type: object
      minProperties: 1
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
          nullable: true
        conditionTag:
          type: string
          nullable: true
        form:
          type: string
          nullable: true
          maxLength: 50
        color:
          type: string
          nullable: true
          maxLength: 50
        singleDose:
          type: number
          nullable: true
        singleDoseUnit:
          type: string
          nullable: true
          maxLength: 32
        startDate:
          type: string
          format: date
        frequency:
          type: string
          enum: [daily, weekly]
        numOfDays:
          type: integer
          nullable: true
          minimum: 1
          maximum: 10
        daysOfWeek:
          type: array
          items:
            type: integer
            minimum: 1
            maximum: 7
        intakeTimes:
          type: array
          minItems: 1
          maxItems: 24
          items:
            type: string
            pattern: '^([01]\\d|2[0-3]):([0-5]\\d)$'
        note:
          type: string
          nullable: true

    DoctorProfileUpdateRequest:
      type: object
      minProperties: 1
      properties:
        specialization:
          type: string
          nullable: true
          example: Cardiology
        licenseNo:
          type: string
          nullable: true
          example: DOC-123456
        hospitalName:
          type: string
          nullable: true
          example: RS PulseWise

    DoctorPatientLinkRequest:
      type: object
      required: [patientId]
      properties:
        patientId:
          type: string
          format: uuid
        source:
          type: string
          example: manual

    DoctorPatientLink:
      type: object
      properties:
        doctor_id:
          type: string
          format: uuid
        patient_id:
          type: string
          format: uuid
        source:
          type: string
        linked_at:
          type: string
          format: date-time
        is_active:
          type: boolean
        first_name:
          type: string
          nullable: true
        last_name:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
      example:
        doctor_id: 8aca6089-3899-4b85-a715-0a63113e846a
        patient_id: 3a233724-0b42-4a4f-88e8-88e732c46351
        source: qr_patient_id
        linked_at: '2026-04-10T08:15:00.000Z'
        is_active: true
        first_name: Agus
        last_name: Pratama
        email: agus@example.com

    PatientShareCreateRequest:
      type: object
      properties:
        expiresInHours:
          type: integer
          minimum: 1
          maximum: 168
          default: 24

    DoctorLinkByShareRequest:
      type: object
      required: [shareCode]
      properties:
        shareCode:
          type: string
          example: PW-9A8B7C6D5E4F

    DoctorLinkByPatientIdRequest:
      type: object
      required: [patientId]
      properties:
        patientId:
          type: string
          format: uuid
        source:
          type: string
          example: qr_patient_id

    DashboardPairingSessionCreateRequest:
      type: object
      properties:
        expiresInSeconds:
          type: integer
          minimum: 30
          maximum: 300
          default: 90

    DashboardPairingSessionConfirmRequest:
      type: object
      required: [pairingToken]
      properties:
        pairingToken:
          type: string
          example: PWDASH-79F438BA5A36D22D7A4EA247FEC9E928A9CC
        source:
          type: string
          example: qr_dashboard_pairing

    DashboardPairingSession:
      type: object
      properties:
        pairingSessionId:
          type: string
          format: uuid
        doctorId:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, confirmed, expired, cancelled]
        expiresAt:
          type: string
          format: date-time
        confirmedAt:
          type: string
          format: date-time
          nullable: true
        patientId:
          type: string
          format: uuid
          nullable: true
      example:
        pairingSessionId: 92d6f1bf-45ef-470f-a5a3-2f277f3138ca
        doctorId: 8aca6089-3899-4b85-a715-0a63113e846a
        status: pending
        expiresAt: '2026-04-10T08:20:00.000Z'
        confirmedAt: null
        patientId: null

    DashboardPairingSessionCreateData:
      allOf:
        - $ref: '#/components/schemas/DashboardPairingSession'
        - type: object
          properties:
            pairingToken:
              type: string
            qrPayload:
              type: string
            pollingPath:
              type: string
      example:
        pairingSessionId: 92d6f1bf-45ef-470f-a5a3-2f277f3138ca
        doctorId: 8aca6089-3899-4b85-a715-0a63113e846a
        status: pending
        expiresAt: '2026-04-10T08:20:00.000Z'
        confirmedAt: null
        patientId: null
        pairingToken: PWDASH-79F438BA5A36D22D7A4EA247FEC9E928A9CC
        qrPayload: PWDASH-79F438BA5A36D22D7A4EA247FEC9E928A9CC
        pollingPath: /doctors/8aca6089-3899-4b85-a715-0a63113e846a/dashboard/pairing-sessions/92d6f1bf-45ef-470f-a5a3-2f277f3138ca

    DashboardPairingSessionConfirmData:
      allOf:
        - $ref: '#/components/schemas/DashboardPairingSession'
        - type: object
          properties:
            doctorPatientLink:
              $ref: '#/components/schemas/DoctorPatientLink'
              nullable: true
      example:
        pairingSessionId: 92d6f1bf-45ef-470f-a5a3-2f277f3138ca
        doctorId: 8aca6089-3899-4b85-a715-0a63113e846a
        status: confirmed
        expiresAt: '2026-04-10T08:20:00.000Z'
        confirmedAt: '2026-04-10T08:16:00.000Z'
        patientId: 3a233724-0b42-4a4f-88e8-88e732c46351
        doctorPatientLink:
          doctor_id: 8aca6089-3899-4b85-a715-0a63113e846a
          patient_id: 3a233724-0b42-4a4f-88e8-88e732c46351
          source: qr_dashboard_pairing
          linked_at: '2026-04-10T08:16:00.000Z'
          is_active: true
          first_name: Agus
          last_name: Pratama
          email: agus@example.com

    PatientShare:
      type: object
      properties:
        shareId:
          type: string
          format: uuid
        patientId:
          type: string
          format: uuid
        shareCode:
          type: string
        expiresAt:
          type: string
          format: date-time
        qrPayload:
          type: string
      example:
        shareId: 7cbe70e1-53b2-4a30-b816-3f59f584a005
        patientId: 3a233724-0b42-4a4f-88e8-88e732c46351
        shareCode: PW-9A8B7C6D5E4F
        expiresAt: '2026-04-11T08:15:00.000Z'
        qrPayload: PW-9A8B7C6D5E4F

    DashboardPatientIdentity:
      type: object
      properties:
        patientId:
          type: string
          format: uuid
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        phone:
          type: string
          nullable: true
        dateOfBirth:
          type: string
          format: date
          nullable: true
        age:
          type: integer
          nullable: true
        sex:
          type: string
          nullable: true
      example:
        patientId: 3a233724-0b42-4a4f-88e8-88e732c46351
        firstName: Agus
        lastName: Pratama
        email: agus@example.com
        phone: '+628123456789'
        dateOfBirth: '1994-08-17'
        age: 31
        sex: male

    LatestVitals:
      type: object
      properties:
        measuredAt:
          type: string
          format: date-time
          nullable: true
        systolicBp:
          type: number
          nullable: true
        diastolicBp:
          type: number
          nullable: true
        heartRate:
          type: number
          nullable: true
        oxygenSaturation:
          type: number
          nullable: true
        weight:
          type: number
          nullable: true
        height:
          type: number
          nullable: true
        bmi:
          type: number
          nullable: true
      example:
        measuredAt: '2026-04-10T07:30:00.000Z'
        systolicBp: 122
        diastolicBp: 78
        heartRate: 74
        oxygenSaturation: 98
        weight: 68.2
        height: 172.5
        bmi: 22.9

    DashboardPatientListItem:
      type: object
      properties:
        patientId:
          type: string
          format: uuid
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          format: email
          nullable: true
        dateOfBirth:
          type: string
          format: date
          nullable: true
        sex:
          type: string
          nullable: true
        latestVitals:
          $ref: '#/components/schemas/LatestVitals'
      example:
        patientId: 3a233724-0b42-4a4f-88e8-88e732c46351
        firstName: Agus
        lastName: Pratama
        email: agus@example.com
        dateOfBirth: '1994-08-17'
        sex: male
        latestVitals:
          measuredAt: '2026-04-10T07:30:00.000Z'
          systolicBp: 122
          diastolicBp: 78
          heartRate: 74
          oxygenSaturation: 98
          weight: 68.2
          height: 172.5
          bmi: 22.9

    DashboardPeriod:
      type: object
      properties:
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        timePeriod:
          type: string
      example:
        startAt: '2026-04-01T00:00:00.000Z'
        endAt: '2026-04-10T23:59:59.999Z'
        timePeriod: last_30_days

    DashboardVitalsSeries:
      type: object
      properties:
        timestamps:
          type: array
          items:
            type: string
            format: date-time
        systolicBp:
          type: array
          items:
            type: number
            nullable: true
        diastolicBp:
          type: array
          items:
            type: number
            nullable: true
        heartRate:
          type: array
          items:
            type: number
            nullable: true
        oxygenSaturation:
          type: array
          items:
            type: number
            nullable: true
        weight:
          type: array
          items:
            type: number
            nullable: true
        height:
          type: array
          items:
            type: number
            nullable: true
        bmi:
          type: array
          items:
            type: number
            nullable: true
      example:
        timestamps:
          - '2026-04-08T07:30:00.000Z'
          - '2026-04-09T07:30:00.000Z'
          - '2026-04-10T07:30:00.000Z'
        systolicBp: [120, 121, 122]
        diastolicBp: [76, 77, 78]
        heartRate: [72, 73, 74]
        oxygenSaturation: [98, 98, 98]
        weight: [68.4, 68.3, 68.2]
        height: [172.5, 172.5, 172.5]
        bmi: [23, 22.9, 22.9]

    DashboardThresholds:
      type: object
      properties:
        SPO2_CRITICAL_THRESHOLD:
          type: number
        SPO2_CAUTION_THRESHOLD:
          type: number
        WEIGHT_DAILY_INCREASE_CRITICAL_KG:
          type: number
        HR_NORMAL_MIN:
          type: number
        HR_NORMAL_MAX:
          type: number
        BP_NORMAL_SYSTOLIC_MAX:
          type: number
        BP_NORMAL_DIASTOLIC_MAX:
          type: number
        BP_ELEVATED_SYSTOLIC_MIN:
          type: number
        BP_ELEVATED_SYSTOLIC_MAX:
          type: number
        BP_ELEVATED_DIASTOLIC_MAX:
          type: number
        BP_STAGE1_SYSTOLIC_MIN:
          type: number
        BP_STAGE1_SYSTOLIC_MAX:
          type: number
        BP_STAGE1_DIASTOLIC_MIN:
          type: number
        BP_STAGE1_DIASTOLIC_MAX:
          type: number
        BP_STAGE2_SYSTOLIC_MIN:
          type: number
        BP_STAGE2_DIASTOLIC_MIN:
          type: number
      example:
        SPO2_CRITICAL_THRESHOLD: 90
        SPO2_CAUTION_THRESHOLD: 95
        WEIGHT_DAILY_INCREASE_CRITICAL_KG: 2
        HR_NORMAL_MIN: 60
        HR_NORMAL_MAX: 100
        BP_NORMAL_SYSTOLIC_MAX: 119
        BP_NORMAL_DIASTOLIC_MAX: 79
        BP_ELEVATED_SYSTOLIC_MIN: 120
        BP_ELEVATED_SYSTOLIC_MAX: 129
        BP_ELEVATED_DIASTOLIC_MAX: 79
        BP_STAGE1_SYSTOLIC_MIN: 130
        BP_STAGE1_SYSTOLIC_MAX: 139
        BP_STAGE1_DIASTOLIC_MIN: 80
        BP_STAGE1_DIASTOLIC_MAX: 89
        BP_STAGE2_SYSTOLIC_MIN: 140
        BP_STAGE2_DIASTOLIC_MIN: 90

    DashboardMetricStats:
      type: object
      properties:
        avg:
          type: number
          nullable: true
        min:
          type: number
          nullable: true
        max:
          type: number
          nullable: true
      example:
        avg: 122.3
        min: 118
        max: 129

    DashboardAbnormalInstance:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        details:
          type: object
          additionalProperties:
            type: string
      example:
        timestamp: '2026-04-10T07:30:00.000Z'
        details:
          bloodPressure: 142/92 mmHg (Stage 2 Hypertension)
          oxygenSaturation: 93% (Caution)

    DoctorDashboardPatientsData:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DashboardPatientListItem'
        pagination:
          $ref: '#/components/schemas/Pagination'
      example:
        items:
          - patientId: 3a233724-0b42-4a4f-88e8-88e732c46351
            firstName: Agus
            lastName: Pratama
            email: agus@example.com
            dateOfBirth: '1994-08-17'
            sex: male
            latestVitals:
              measuredAt: '2026-04-10T07:30:00.000Z'
              systolicBp: 122
              diastolicBp: 78
              heartRate: 74
              oxygenSaturation: 98
              weight: 68.2
              height: 172.5
              bmi: 22.9
        pagination:
          page: 1
          limit: 20
          totalItems: 1
          totalPages: 1

    DoctorDashboardPatientSummaryData:
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/DashboardPatientIdentity'
        latestVitals:
          $ref: '#/components/schemas/LatestVitals'
        thresholds:
          $ref: '#/components/schemas/DashboardThresholds'
      example:
        patient:
          patientId: 3a233724-0b42-4a4f-88e8-88e732c46351
          firstName: Agus
          lastName: Pratama
          email: agus@example.com
          phone: '+628123456789'
          dateOfBirth: '1994-08-17'
          age: 31
          sex: male
        latestVitals:
          measuredAt: '2026-04-10T07:30:00.000Z'
          systolicBp: 122
          diastolicBp: 78
          heartRate: 74
          oxygenSaturation: 98
          weight: 68.2
          height: 172.5
          bmi: 22.9
        thresholds:
          SPO2_CRITICAL_THRESHOLD: 90
          SPO2_CAUTION_THRESHOLD: 95
          WEIGHT_DAILY_INCREASE_CRITICAL_KG: 2
          HR_NORMAL_MIN: 60
          HR_NORMAL_MAX: 100
          BP_NORMAL_SYSTOLIC_MAX: 119
          BP_NORMAL_DIASTOLIC_MAX: 79
          BP_ELEVATED_SYSTOLIC_MIN: 120
          BP_ELEVATED_SYSTOLIC_MAX: 129
          BP_ELEVATED_DIASTOLIC_MAX: 79
          BP_STAGE1_SYSTOLIC_MIN: 130
          BP_STAGE1_SYSTOLIC_MAX: 139
          BP_STAGE1_DIASTOLIC_MIN: 80
          BP_STAGE1_DIASTOLIC_MAX: 89
          BP_STAGE2_SYSTOLIC_MIN: 140
          BP_STAGE2_DIASTOLIC_MIN: 90

    DoctorDashboardPatientVitalsData:
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/DashboardPatientIdentity'
        period:
          $ref: '#/components/schemas/DashboardPeriod'
        series:
          $ref: '#/components/schemas/DashboardVitalsSeries'
        latestVitals:
          $ref: '#/components/schemas/LatestVitals'
        thresholds:
          $ref: '#/components/schemas/DashboardThresholds'
      example:
        patient:
          patientId: 3a233724-0b42-4a4f-88e8-88e732c46351
          firstName: Agus
          lastName: Pratama
          email: agus@example.com
          phone: '+628123456789'
          dateOfBirth: '1994-08-17'
          age: 31
          sex: male
        period:
          startAt: '2026-04-01T00:00:00.000Z'
          endAt: '2026-04-10T23:59:59.999Z'
          timePeriod: last_30_days
        series:
          timestamps:
            - '2026-04-08T07:30:00.000Z'
            - '2026-04-09T07:30:00.000Z'
            - '2026-04-10T07:30:00.000Z'
          systolicBp: [120, 121, 122]
          diastolicBp: [76, 77, 78]
          heartRate: [72, 73, 74]
          oxygenSaturation: [98, 98, 98]
          weight: [68.4, 68.3, 68.2]
          height: [172.5, 172.5, 172.5]
          bmi: [23, 22.9, 22.9]
        latestVitals:
          measuredAt: '2026-04-10T07:30:00.000Z'
          systolicBp: 122
          diastolicBp: 78
          heartRate: 74
          oxygenSaturation: 98
          weight: 68.2
          height: 172.5
          bmi: 22.9
        thresholds:
          SPO2_CRITICAL_THRESHOLD: 90
          SPO2_CAUTION_THRESHOLD: 95
          WEIGHT_DAILY_INCREASE_CRITICAL_KG: 2
          HR_NORMAL_MIN: 60
          HR_NORMAL_MAX: 100
          BP_NORMAL_SYSTOLIC_MAX: 119
          BP_NORMAL_DIASTOLIC_MAX: 79
          BP_ELEVATED_SYSTOLIC_MIN: 120
          BP_ELEVATED_SYSTOLIC_MAX: 129
          BP_ELEVATED_DIASTOLIC_MAX: 79
          BP_STAGE1_SYSTOLIC_MIN: 130
          BP_STAGE1_SYSTOLIC_MAX: 139
          BP_STAGE1_DIASTOLIC_MIN: 80
          BP_STAGE1_DIASTOLIC_MAX: 89
          BP_STAGE2_SYSTOLIC_MIN: 140
          BP_STAGE2_DIASTOLIC_MIN: 90

    DoctorDashboardAbnormalReportData:
      type: object
      properties:
        patient:
          $ref: '#/components/schemas/DashboardPatientIdentity'
        period:
          $ref: '#/components/schemas/DashboardPeriod'
        stats:
          type: object
          properties:
            systolicBp:
              $ref: '#/components/schemas/DashboardMetricStats'
            diastolicBp:
              $ref: '#/components/schemas/DashboardMetricStats'
            heartRate:
              $ref: '#/components/schemas/DashboardMetricStats'
            oxygenSaturation:
              $ref: '#/components/schemas/DashboardMetricStats'
            weight:
              $ref: '#/components/schemas/DashboardMetricStats'
            bmi:
              $ref: '#/components/schemas/DashboardMetricStats'
        abnormalInstances:
          type: array
          items:
            $ref: '#/components/schemas/DashboardAbnormalInstance'
        thresholds:
          $ref: '#/components/schemas/DashboardThresholds'
      example:
        patient:
          patientId: 3a233724-0b42-4a4f-88e8-88e732c46351
          firstName: Agus
          lastName: Pratama
          email: agus@example.com
          phone: '+628123456789'
          dateOfBirth: '1994-08-17'
          age: 31
          sex: male
        period:
          startAt: '2026-04-01T00:00:00.000Z'
          endAt: '2026-04-10T23:59:59.999Z'
          timePeriod: last_30_days
        stats:
          systolicBp:
            avg: 122.3
            min: 118
            max: 129
          diastolicBp:
            avg: 78.1
            min: 75
            max: 82
          heartRate:
            avg: 74
            min: 68
            max: 99
          oxygenSaturation:
            avg: 97.6
            min: 93
            max: 99
          weight:
            avg: 68.3
            min: 68.2
            max: 68.4
          bmi:
            avg: 22.9
            min: 22.8
            max: 23
        abnormalInstances:
          - timestamp: '2026-04-10T07:30:00.000Z'
            details:
              bloodPressure: 142/92 mmHg (Stage 2 Hypertension)
              oxygenSaturation: 93% (Caution)
        thresholds:
          SPO2_CRITICAL_THRESHOLD: 90
          SPO2_CAUTION_THRESHOLD: 95
          WEIGHT_DAILY_INCREASE_CRITICAL_KG: 2
          HR_NORMAL_MIN: 60
          HR_NORMAL_MAX: 100
          BP_NORMAL_SYSTOLIC_MAX: 119
          BP_NORMAL_DIASTOLIC_MAX: 79
          BP_ELEVATED_SYSTOLIC_MIN: 120
          BP_ELEVATED_SYSTOLIC_MAX: 129
          BP_ELEVATED_DIASTOLIC_MAX: 79
          BP_STAGE1_SYSTOLIC_MIN: 130
          BP_STAGE1_SYSTOLIC_MAX: 139
          BP_STAGE1_DIASTOLIC_MIN: 80
          BP_STAGE1_DIASTOLIC_MAX: 89
          BP_STAGE2_SYSTOLIC_MIN: 140
          BP_STAGE2_DIASTOLIC_MIN: 90

    BiometricsReadingInput:
      type: object
      required: [metricType, measuredAt]
      properties:
        metricType:
          type: string
          description: >
            Jenis metric biometrik. Backend menerima alias seperti
            `heart_rate`, `heartrate`, `hr`, `pulse`,
            `oxygen_saturation`, `oxygen`, `spo2`, `sp02`,
            `systolic`, `systolic_bp`, `systolic_pressure`,
            `diastolic`, `diastolic_bp`, `diastolic_pressure`,
            `weight`, `body_weight`, `height`, `body_height`, `bmi`,
            `total_cholesterol`, `urine_flow_rate`, `urination_time`,
            `urine_volume`, dan `pulse_regularity_code`.
            Nilai akan dinormalisasi ke canonical metric internal backend.
          example: spo2
        valueNumeric:
          type: number
          nullable: true
          example: 97
        unit:
          type: string
          nullable: true
          example: '%'
        measuredAt:
          type: string
          format: date-time
        payload:
          type: object
          nullable: true
          additionalProperties: true
          example:
            deviceModel: Pixel Watch 3
            deviceManufacturer: Google
            origin: health_connect

    BiometricsIngestRequest:
      type: object
      required: [source, readings]
      properties:
        patientId:
          type: string
          format: uuid
          nullable: true
          description: Wajib jika actor bukan pasien
        source:
          type: string
          description: Sumber data biometrik, misalnya `health_connect`, `manual`, `smartwatch`, atau nama connector internal lain.
          example: health_connect
        readings:
          type: array
          minItems: 1
          maxItems: 500
          items:
            $ref: '#/components/schemas/BiometricsReadingInput'
      example:
        source: health_connect
        readings:
          - metricType: heart_rate
            valueNumeric: 78
            unit: bpm
            measuredAt: '2026-05-04T08:00:00.000Z'
          - metricType: spo2
            valueNumeric: 97
            unit: '%'
            measuredAt: '2026-05-04T08:00:00.000Z'
            payload:
              deviceModel: Pixel Watch 3
              origin: health_connect

    BiometricsIngestItem:
      type: object
      properties:
        readingId:
          type: integer
        metricType:
          type: string
        measuredAt:
          type: string
          format: date-time
        valueNumeric:
          type: number
          nullable: true
        unit:
          type: string
          nullable: true
        duplicate:
          type: boolean
      example:
        readingId: 1204
        metricType: oxygen_saturation
        measuredAt: '2026-05-04T08:00:00.000Z'
        valueNumeric: 97
        unit: '%'
        duplicate: false

    BiometricsIngestData:
      type: object
      properties:
        patientId:
          type: string
          format: uuid
        source:
          type: string
        totalReceived:
          type: integer
        insertedCount:
          type: integer
        duplicateCount:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/BiometricsIngestItem'
      example:
        patientId: 3a233724-0b42-4a4f-88e8-88e732c46351
        source: health_connect
        totalReceived: 2
        insertedCount: 2
        duplicateCount: 0
        items:
          - readingId: 1204
            metricType: heart_rate
            measuredAt: '2026-05-04T08:00:00.000Z'
            valueNumeric: 78
            unit: bpm
            duplicate: false
          - readingId: 1205
            metricType: oxygen_saturation
            measuredAt: '2026-05-04T08:00:00.000Z'
            valueNumeric: 97
            unit: '%'
            duplicate: false

    BiometricsHistoryFilters:
      type: object
      properties:
        source:
          type: string
          nullable: true
        metricType:
          type: string
          nullable: true
          description: >
            Query menerima alias seperti `spo2`, `oxygen`, atau
            `oxygen_saturation`. Backend akan mengembalikan nilai metric
            canonical yang sudah dinormalisasi.
        startAt:
          type: string
          format: date-time
          nullable: true
        endAt:
          type: string
          format: date-time
          nullable: true
      example:
        source: health_connect
        metricType: oxygen_saturation
        startAt: '2026-05-01T00:00:00.000Z'
        endAt: '2026-05-04T23:59:59.999Z'

    BiometricsHistoryItem:
      type: object
      properties:
        readingId:
          type: integer
        source:
          type: string
        metricType:
          type: string
        valueNumeric:
          type: number
          nullable: true
        unit:
          type: string
          nullable: true
        payload:
          type: object
          nullable: true
          additionalProperties: true
        measuredAt:
          type: string
          format: date-time
        receivedAt:
          type: string
          format: date-time
      example:
        readingId: 1204
        source: health_connect
        metricType: oxygen_saturation
        valueNumeric: 97
        unit: '%'
        payload:
          deviceModel: Pixel Watch 3
          origin: health_connect
        measuredAt: '2026-05-04T08:00:00.000Z'
        receivedAt: '2026-05-04T08:00:05.000Z'

    BiometricsHistoryData:
      type: object
      properties:
        patientId:
          type: string
          format: uuid
        filters:
          $ref: '#/components/schemas/BiometricsHistoryFilters'
        items:
          type: array
          items:
            $ref: '#/components/schemas/BiometricsHistoryItem'
        pagination:
          $ref: '#/components/schemas/Pagination'
      example:
        patientId: 3a233724-0b42-4a4f-88e8-88e732c46351
        filters:
          source: health_connect
          metricType: oxygen_saturation
          startAt: '2026-05-01T00:00:00.000Z'
          endAt: '2026-05-04T23:59:59.999Z'
        items:
          - readingId: 1204
            source: health_connect
            metricType: oxygen_saturation
            valueNumeric: 97
            unit: '%'
            payload:
              deviceModel: Pixel Watch 3
              origin: health_connect
            measuredAt: '2026-05-04T08:00:00.000Z'
            receivedAt: '2026-05-04T08:00:05.000Z'
        pagination:
          page: 1
          limit: 20
          totalItems: 1
          totalPages: 1

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check service, DB, Redis, dan cache metrics
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          timestamp:
                            type: string
                            format: date-time
                          dbTime:
                            type: string
                            format: date-time
                          redis:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                              available:
                                type: boolean
                              backend:
                                type: string
                                nullable: true
                              lastConnectedAt:
                                type: string
                                format: date-time
                                nullable: true
                              lastError:
                                type: string
                                nullable: true
                          cache:
                            type: object
                            properties:
                              hits:
                                type: integer
                              misses:
                                type: integer
                              requests:
                                type: integer
                              hitRate:
                                type: number
                                nullable: true
                              sets:
                                type: integer
                              invalidationsExact:
                                type: integer
                              invalidationsPrefix:
                                type: integer
                              lastOperationAt:
                                type: string
                                format: date-time
                                nullable: true
                              backends:
                                type: object
                                properties:
                                  redis:
                                    type: integer
                                  memory:
                                    type: integer
                              windows:
                                type: object
                                properties:
                                  hitRate:
                                    type: number
                                    nullable: true
                                  last60Minutes:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        minute:
                                          type: string
                                          format: date-time
                                        hits:
                                          type: integer
                                        misses:
                                          type: integer
                                        requests:
                                          type: integer
                                        hitRate:
                                          type: number
                                          nullable: true
                                        sets:
                                          type: integer
                                        invalidationsExact:
                                          type: integer
                                        invalidationsPrefix:
                                          type: integer
  /metrics:
    get:
      tags: [Health]
      summary: Export metrics Prometheus text format
      description: |
        Endpoint ini ditujukan untuk observability/monitoring dan dikunci oleh token metrics.
        Kirim `x-metrics-token` atau `Authorization: Bearer <token>` sesuai `METRICS_TOKEN`.
      responses:
        '200':
          description: Metrics text payload
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # HELP pulsewise_cache_hits_total Total cache hits.
                  # TYPE pulsewise_cache_hits_total counter
                  pulsewise_cache_hits_total 42
        '401':
          description: Missing or invalid metrics token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Metrics endpoint disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/register:
    post:
      tags: [Auth]
      summary: Register user baru (status pending_verification)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Register success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user:
                            $ref: '#/components/schemas/AuthUser'
                          nextStep:
                            type: string
                            example: EMAIL_VERIFICATION_REQUIRED
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: Duplicate username/email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/login:
    post:
      tags: [Auth]
      summary: Login dengan email dan password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
                          user:
                            $ref: '#/components/schemas/AuthUser'
        '400':
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: Account not active
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/verifications/email:
    post:
      tags: [Auth]
      summary: Kirim OTP verifikasi email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationRequest'
      responses:
        '200':
          description: OTP sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/verifications/email/confirm:
    post:
      tags: [Auth]
      summary: Konfirmasi OTP verifikasi email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerificationConfirmRequest'
      responses:
        '200':
          description: Email verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          description: Invalid or expired OTP
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/oauth/google:
    post:
      tags: [Auth]
      summary: Cek status akun Google dan tentukan next step onboarding/login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleOauthRequest'
      responses:
        '200':
          description: OAuth Google berhasil diverifikasi
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GoogleOauthBeginData'
        '401':
          description: Invalid Google token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: Email sudah terhubung ke akun Google lain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '501':
          description: OAuth provider not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/oauth/google/register:
    post:
      tags: [Auth]
      summary: Selesaikan registrasi akun Google baru lalu kirim OTP email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleOauthRegisterRequest'
      responses:
        '200':
          description: Registrasi Google dilanjutkan ke verifikasi OTP
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GoogleOauthBeginData'
        '401':
          description: Token registrasi Google tidak valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '409':
          description: Akun Google sudah aktif atau bentrok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/me:
    get:
      tags: [Auth]
      summary: Ambil profil user saat ini
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/AuthUser'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Meminta pengiriman OTP ke email untuk reset password
      description: |
        Hanya berlaku untuk akun email/password (non-Google OAuth).
        Selalu merespons 200 untuk mencegah enumerasi email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: OTP berhasil dikirim (atau disimulasikan sukses)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          delivery:
                            type: string
                          expiresInMinutes:
                            type: integer
                          nextStep:
                            type: string
        '400':
          description: Payload tidak valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/forgot-password/verify:
    post:
      tags: [Auth]
      summary: Verifikasi OTP reset password
      description: |
        Memverifikasi OTP dan mengembalikan `resetToken` (JWT) jika valid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordVerifyRequest'
      responses:
        '200':
          description: OTP valid
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          nextStep:
                            type: string
                          resetToken:
                            type: string
        '400':
          description: OTP tidak valid atau kedaluwarsa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: Akun Google OAuth tidak didukung
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /auth/forgot-password/reset:
    post:
      tags: [Auth]
      summary: Reset password menggunakan resetToken
      description: |
        Mengubah password akun menggunakan token dari tahap verifikasi.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordResetRequest'
      responses:
        '200':
          description: Password berhasil direset
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          nextStep:
                            type: string
        '400':
          description: Validasi gagal atau password sama dengan password lama
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Token reset password tidak valid atau kedaluwarsa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: Akun Google OAuth tidak didukung
          content:
[...]
